<a [routerLink]="['/']">
  <nav class="nav">
    <div class="container nav__flex">
      <div class="nav__logo-container">
        <a href="index.html">
          <img src="./assets/Logo-CDY.svg" alt="logo">
        </a>
      </div>
      <ul class="nav__list">
        <li class="nav__item"><a href="products.html">Products</a></li>
        <li class="nav__item"><a href="delivery.html">Delivery</a></li>
      </ul>
      <ul class="nav__list">
        <li class="nav__item"><a href="login.html">Login</a></li>
        <li class="nav__item"><a href="#">Sign up</a></li>
        <li class="nav__item"><a href="checkout.html">Cart</a></li>
      </ul>
    </div>
  </nav>

  <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->